modules = ["php-8.2", "web", "nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["unzip"]

[userenv]

[userenv.shared]
DB_CONNECTION = "pgsql"
DB_HOST = "helium"
DB_PORT = "5432"
DB_DATABASE = "heliumdb"
DB_USERNAME = "postgres"
DB_PASSWORD = "password"
APP_NAME = "BidYourOffer"
APP_ENV = "local"
APP_DEBUG = "true"
APP_URL = "https://3ce01d2c-f79e-44c2-b048-2e8dc64316ef-00-tu7aronbf5wk.spock.replit.dev"
CACHE_DRIVER = "file"
SESSION_DRIVER = "file"
QUEUE_CONNECTION = "sync"
BROADCAST_DRIVER = "log"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Laravel Server"

[[workflows.workflow]]
name = "Laravel Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan serve --host=0.0.0.0 --port=5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36107
externalPort = 5000

[[ports]]
localPort = 36359
externalPort = 3000

[[ports]]
localPort = 37033
externalPort = 3003

[[ports]]
localPort = 41357
externalPort = 3001

[[ports]]
localPort = 41849
externalPort = 4200

[[ports]]
localPort = 43891
externalPort = 3002

[deployment]
deploymentTarget = "vm"
run = ["php", "artisan", "serve", "--host=0.0.0.0", "--port=5000"]
build = ["composer", "install", "--no-dev", "--optimize-autoloader", ";", "npm", "install", ";", "npm", "run", "prod", ";", "php", "artisan", "config:cache", ";", "php", "artisan", "route:cache", ";", "php", "artisan", "view:cache"]
